body, html {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "content";
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.off {
    z-index: 0;
    --size: min(50vw, 50vh);
    width: var(--size);
    height: var(--size);
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.off.status-running {
    background-color: green;
}

.confirmDialog {
    z-index: 20;
    --size: min(60vw, 60vh);
    width: var(--size);
    height: var(--size);
    background-color: #ff8888;
    box-shadow: 0 0  1rem rgba(0,0,0,0.5);
    text-align: center;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "message message" "confirm cancel";
    font-size: 48px;
}

.confirmMessage {
    grid-area: message;
    font-size: 48px;
}
.confirmButton {
    grid-area: confirm;
    font-size: 48px;
    background-color: #007700;
    color: white;
}
.cancelButton {
    grid-area: cancel;
    background-color: #444444;
    color: white;
    font-size: 48px;
}

.confirmDialog:not(.show) {
    display: none;
}